<h1 class="display-5">Let's try Exchange Deposit Contract!</h1>

<h2>①Check your metamask account</h2>
<div>Your Current Address: {{ currentAccount }}</div>
<div>Your Current Network: {{ currentNetwork }}</div>

<h2>②Deploy Proxy Factory Contract</h2>
<div>Contract Address:
  <a (click)="onGoToLink('address/' + contract?.address)">{{ contract?.address }}</a>
</div>
<div>Deploy Transaction Hash:
  <a (click)="onGoToLink('tx/' + deployTransaction?.hash)">{{ deployTransaction?.hash }}</a>
</div>
<br>
<button class="btn btn-primary" (click)="onDeployProxyFactoryContract()">Deploy</button>

<h2>③Run DeployNewInstance</h2>
<div>Contract Address:
  <a (click)="onGoToLink('tx/' + deployNewInstanceTransactionHash)">{{ deployNewInstanceTransactionHash }}</a>
<form #formRef="ngForm">
  <div class="form-control">
    <label class="label">
      <span class="label-text">salt</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #saltRef
    name="setSalt"
    required
    />
  </div>
  <button class="btn btn-primary" (click)="onCallSetDeployNewInstance(saltRef.value)" [disabled]="formRef.invalid">Set Salt</button>
  <br>
  ※salt example: 0x0000000000000000000000AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA00
</form>

<h2>④Let's send amount</h2>
<form #formRef="ngForm" (submit)="onCallSetSendAddressFunction(sendAddressRef.value)">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Send address</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #sendAddressRef
    name="sendAddress"
    required
    />
  </div>
  <button class="btn btn-primary" [disabled]="formRef.invalid">Set Address</button>
</form>
<br>
<form #formRef="ngForm" (submit)="onCallSetSendFundsFunction(sendAmountRef.value)">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Send amount</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #sendAmountRef
    name="sendAmount"
    required
    />
  </div>
  <button class="btn btn-primary" [disabled]="formRef.invalid">Set Lending</button>
</form>