<h1 class="display-5">Smart Lending</h1>

<h2>Status</h2>
<div>Your Current Address: {{ currentAccount }}</div>
<div>Your Current Network: {{ currentNetwork }}</div>

<h2>Deploy Contract</h2>
<div>Contract Address:
  <a (click)="onGoToLink('address/' + contract!.address)">{{ contract?.address }}</a>
</div>
<div>Deploy Transaction Hash:
  <a (click)="onGoToLink('tx/' + deployTransaction!.hash)">{{ deployTransaction?.hash }}</a>
</div>
<br>
<button class="btn btn-primary" (click)="onDeploySendFundsContract()">Deploy</button>

<h2>Set Smart Lending!</h2>
<form #formRef="ngForm" (submit)="onCallSetSendFundsFunction(sendAmountRef.value)">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Lending amount</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #sendAmountRef
    name="sendAmount"
    required
    />
  </div>
  <button class="btn btn-primary" [disabled]="formRef.invalid">Set Lending</button>
</form>

<h2>Call greet function</h2>
<h3>Greeting Message History</h3>
<ng-container *ngFor="let greet of greets">
  <div>{{ greet }}</div>
</ng-container>
<button class="btn btn-primary" (click)="onCallGreetFunction()">Greet</button>