<h1 class="display-5">Smart Lending</h1>

<h2>Status</h2>
<div>Your Current Address: {{ currentAccount }}</div>
<div>Your Current Network: {{ currentNetwork }}</div>

<h2>Deploy Proxy Factory Contract</h2>
<div>Contract Address:
  <a (click)="onGoToLink('address/' + contract!.address)">{{ contract?.address }}</a>
</div>
<div>Deploy Transaction Hash:
  <a (click)="onGoToLink('tx/' + deployTransaction!.hash)">{{ deployTransaction?.hash }}</a>
</div>
<br>
<button class="btn btn-primary" (click)="onDeployProxyFactoryContract()">Deploy</button>

<h2>App DeployNewInstance</h2>
<div>Contract Address:
  <a (click)="onGoToLink('tx/' + deployNewInstanceTransactionHash)">{{ deployNewInstanceTransactionHash }}</a>
</div>
<br>
<form #formRef="ngForm">
  <div class="form-control">
    salt example: 0x0000000000000000000000AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA00
    <br>
    <label class="label">
      <span class="label-text">salt</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #saltRef
    name="setSalt"
    required
    />
  </div>
  <button class="btn btn-primary" (click)="onCallSetDeployNewInstance(saltRef.value)" [disabled]="formRef.invalid">Set Salt</button>
</form>

<h2>Let's start Smart Lending!</h2>
<form #formRef="ngForm" (submit)="onCallSetSendAddressFunction(sendAddressRef.value)">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Lending address</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #sendAddressRef
    name="sendAddress"
    required
    />
  </div>
  <button class="btn btn-primary" [disabled]="formRef.invalid">Set Address</button>
</form>
<br>
<form #formRef="ngForm" (submit)="onCallSetSendFundsFunction(sendAmountRef.value)">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Lending amount</span>
    </label>
    <input
    class="input input-bordered"
    type="text"
    #sendAmountRef
    name="sendAmount"
    required
    />
  </div>
  <button class="btn btn-primary" [disabled]="formRef.invalid">Set Lending</button>
</form>