<app-view-home
  [currentAccount]="currentAccount"
  [currentNetwork]="currentNetwork"
  [contract]="contract"
  [deployTransaction]="deployTransaction"
  [deployNewInstanceTransactionHash]="deployNewInstanceTransactionHash"
  (connectToMetaMask)="appConnectToMetaMask()"
  (deployProxyFactoryContract)="appDeployProxyFactoryContract()"
  (callSetDeployNewInstance)="appCallSetDeployNewInstance($event)"
  (callSetSendAddress)="setSendAddress($event)"
  (callSendEther)="appCallSendEther($event)"
  (goToLink)="goToLink($event)"
></app-view-home>