<app-view-home
  [currentAccount]="currentAccount"
  [currentNetwork]="currentNetwork"
  [contract]="contract"
  [deployTransaction]="deployTransaction"
  [greets]="greets"
  (connectToMetaMask)="appConnectToMetaMask()"
  (deployGreeterContract)="appDeployGreeterContract()"
  (deploySendFundsContract)="appDeploySendFundsContract()"
  (callGreetFunction)="appCallGreetFunction()"
  (callSetGreetingFunction)="appCallSetGreetingFunction($event)"
  (callSetSendFundsFunction)="appCallSendFundsFunction($event)"
  (goToLink)="goToLink($event)"
></app-view-home>